// --------------------------------
//-------- [ Start Components ] --------
// --------------------------------

@import "assets/scss/vars/vars";
@import "assets/scss/vars/light";
@import "assets/scss/vars/dark";
@import "assets/scss/components/inputs";

//-------- [ End Components ] --------

// --------------------------------
//-------- [ Start Fonts ] --------
// --------------------------------

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'en';
    font-style: normal;
    src: url(assets/fonts/din-regular.ttf);
  }
  .font-en {
    font-family: 'en';
  }
  @font-face {
    font-family: 'num';
    font-style: normal;
    src: url(assets/fonts/AGENCYB.TTF);
}
  @font-face {
    font-family: 'ar';
    font-style: normal;
    src: url(assets/fonts/29ltbukraregular.ttf);
  }
  @font-face {
    font-family: 'q';
    font-style: normal;
    src: url(assets/fonts/Qatar2022Arabic-Bold.ttf);
  }
//-------- [ End Fonts ] --------

// --------------------------------
//-------- [ Start Pages ] --------
// --------------------------------

@import "layout/layout";
@import "home/home";
@import "register/register";
@import "exam-card/exam-card";
@import "courses/courses";
@import "one-course/one-course";
@import "settings/settings";
@import "course-views/course-views";
@import "exam/exam";
@import "mail-template/mail-otp";

//-------- [ End Pages ] --------

// --------------------------------
//-------- [ Start Global ] --------
// --------------------------------

* {
    box-sizing: border-box;
}
body {
    font-family: 'ar';
    background-color: #FFF;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
.row {
    overflow: hidden;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
// .container {
//     @media (min-width: 300px) {
//         max-width: 100%;
//     }
//     @media (min-width: 1440px) {
//         max-width: 1440px;
//     }
// }
.row-inside-row {
    margin-right: -8px;
    margin-left: -8px;
}
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-6,
.col-md-3,
.col-md-4,
.col-md-8,
.col-md-9,
.col-sm-4,
.col-sm-6 {
    padding-right: 8px;
    padding-left: 8px;
}
a {
    display: block;
    text-decoration: none;
    color: unset;
    &:hover {
        color: unset;
        text-decoration: unset;
    }
}

.section-header-center {
    text-align: center;
    margin-bottom: 50px;
    display: block;
    h3 {
        color: $p;
        font-size: 2.75rem;
        padding-left: 10px;
        margin-bottom: 0;
        font-weight: 500;
        margin-bottom: 10px;
        span {
            font-weight: 400;
            color: #2f3d7a;
        }
        @media (max-width: $max-5) {
            font-size: 1.75rem;
        }
    }
    p {
        display: flex;
        align-items: center;
        width: 60%;
        margin: auto;
        color: #515151;
        font-weight: 500;
        @media (max-width: $max-5) {
            width: 100%;
        }
    }
}

//-------- [ End Global ] --------

// --------------------------------
//-------- [ Start Index ] --------
// --------------------------------


//-------- [ End Index ] --------


// Scroll Bar
/* width */
// ::-webkit-scrollbar {
//     width: 8px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//     background: linear-gradient(45deg, #0a0e1a, #0a0e1a);
// }
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #2f3d7a; 
// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: $y;
// }

// General
// .pretitle {
//     color: $g;
//     font-size: 1.2rem;
//     display: block;
//     margin-bottom: 10px;
//     font-weight: 600;
//     background-image: linear-gradient(to right top, #000957, #2f3d7a);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     text-align: center;
// }
// index style
.index-header-boxes {
    margin-top: 75px;
    .box {
        border-radius: 4px;
        margin-bottom: 12px;
        .box-card {
            padding: 25px;
        }
    }
    .box-1 {
        height: 350px;
        background: $r;
    }
    .box-2 {
        height: 150px;
        background: $g;
    }
    .box-3 {
        height: 300px;
        background: $y;
    }
    .box-4 {
        height: 200px;
        background: $o;
    }
    .box-5 {
        height: 200px;
        background: $g;
    }
    .box-6 {
        height: 300px;
        background: $b;
    }
    .box-7 {
        height: 150px;
        background: $r;
    }
    .box-8 {
        height: 350px;
        background: $s;
    }
}




// /////////////////////////////////////////////////////////
.content {
    padding: 0 !important
}

.why {
    padding: 75px 0;
    background: #FFF;
    @media (max-width: $max-9) {
        padding: 0 0 50px 0;
    }
    .why-info {
        .why-part {
            .why-text {
                .pretitle {
                    font-size: 0.85rem;
                    font-weight: 600;
                    color: #00c5da !important;
                    text-align: right;
                    background: unset;
                }
                .why-heading {
                    font-size: 2.5rem;
                    font-weight: 500;
                    margin-top: 9px;
                    color: #000933;
                    @media (max-width: $max-5) {
                        font-size: 1.8rem;
                    } 
                }
                .text {
                    color: #000933;
                    width: 92%;
                    margin-top: 35px;
                    font-size: 1rem;
                    @media (max-width: $max-5) {
                        font-size: 0.9rem;
                    } 
                }
                .why-actions {
                    display: flex;
                    align-items: center;
                    margin-top: 35px;
                }
                a {
                    padding: 14px 14px;
                    font-size: 0.8rem;
                    height: 47px;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0;
                    border: unset !important;
                    color: #ffffff;
                    background-color: transparent;
                    background-image: radial-gradient(at bottom center, #344CB7 0%, #344CB7 60%);
                    border-radius: 12px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    @media (max-width: $max-5) {
                        margin-bottom: 25px;
                    } 
                }
                .call-us-btn {
                    border: unset;
                    outline: unset;
                    background: unset;
                    color: #000933;
                    width: auto;
                    font-weight: 600;
                    margin-right: 25px;
                    display: flex;
                    align-items: center;
                    @media (max-width: $max-5) {
                        display: none;
                    } 
                    svg {
                        height: 16px;
                        width: 16px;
                        fill: #000;
                        margin-right: 15px;
                    }
                }
            }
        }
        .why-part-img {
            height: 450px;
            width: 100%;
            background: {
                image: url(assets/images/h3-success-1.jpg);
                position: center center;
                size: cover;
                repeat: no-repeat;
            }
            border-radius: 12px;
            padding: 50px;
            display: flex;
            align-items: center;
            color: #FFF;
            @media (max-width: $max-9) {
                margin-top: 25px;
            }
            .why-part-img-content {
                .h3-part {
                    margin-bottom: 35px;
                    h3 {
                        font-size: 3rem;
                        font-weight: 600;
                        color: #000;
                        @media (max-width: $max-5) {
                            font-size: 1.8rem;
                        } 
                    }
                    .colred {
                        color: #2f3d7a; 
                        font-size: 3.6rem; 
                        @media (max-width: $max-5) {
                            font-size: 2.8rem;
                        }   
                    }
                }
                p {
                    color: #000;
                    @media (max-width: $max-5) {
                        font-size: 0.85rem;
                    } 
                }
                a {
                    padding: 14px 14px;
                    font-size: 0.8rem;
                    height: 47px;
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0;
                    border: unset !important;
                    color: #000933;
                    background: #2f3d7a;
                    border-radius: 12px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-top: 35px;
                }
            }
        }
    }
    .why-vision {
        margin-top: 50px;
        border-top: 1px dashed #CACACA;
        border-bottom: 1px dashed #CACACA;
        @media (max-width: $max-9) {
            border: unset;
        }
        .why-vision-part {
            padding: 30px 40px;
            border-left: 1px dashed #CACACA;
            @media (max-width: $max-9) {
                border: unset;
            }
            lord-icon {
                height: 60px;
                width: 60px;
                margin-bottom: 15px;
            }
            h3 {
                font-size: 1.3rem;
                font-weight: 600;
                margin-bottom: 15px;
                color: #000933;
            }
            h5 {
                font-size: 5rem;
                font-family: "num";
                position: relative;
                margin-bottom: 20px;
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    height: 85px;
                    width: 85px;
                    background-image: radial-gradient(at bottom center, #00c5da 0%, #2f3d7a 60%);
                    border-radius: 50%;
                    right: -17px;
                    top: 5px;
                    z-index: -1;
                }
            }
            p {
                font-size: 0.9rem;
                color: #000933;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
        .unborded {
            border: unset;
        }
        .cus-padd {
            padding: 30px;
        }
    }
}

.services {
    padding: 100px 0;
    background: {
        image: url(assets/images/bg.svg);
        size: cover;
        position: center center;
        repeat: no-repeat;
    }
    .section-header-center {
        .pretitle {
            font-size: 0.85rem;
            font-weight: 600;
            color: #00c5da !important;
            text-align: right;
            background: unset;
        }
        .heading {
            color: #162151;
        }
        p {
            font-size: 0.9rem;
            color: #000933;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .services-container {
        margin-top: 75px;
    }
    .service-card {
        background: #FFF;
        padding: 30px 30px 30px 30px;
        border-radius: 12px;
        margin-bottom: 15px;
        text-align: center;
        .icon {
            margin-bottom: 25px;
            .icon-container {
                svg {
                    width: 36px;
                    fill: $secondColor;
                }
                lord-icon {
                    height: 85px;
                    width: 85px;
                    margin-bottom: -25px;
                    margin-right: -10px;
                }
            }
        }
        .service-text {
            h3 {
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 10px;
                height: 55px;
                display: flex;
                vertical-align: middle;
                align-items: center;
                justify-content: center;
            }
            p {
                font-size: 0.8rem;
                color: #515151;
                font-weight: 500;
            }
            a {
                background: #f4f4f4;
                height: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                margin-top: 25px;
                span {
                    font-size: 0.75rem;
                    color: #636363;
                    margin-right: 2px;
                    margin-left: 9px;
                    font-weight: 600;
                }
                svg {
                    fill: #636363;
                    width: 18px;
                    margin-top: 1px;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .service-card-big {
        background: #FFF;
        padding: 20px 20px 20px 340px;
        border-radius: 12px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        .icon {
            margin-bottom: 20px;
            .icon-container {
                svg {
                    width: 36px;
                    fill: $secondColor;
                }
                lord-icon {
                    height: 200px;
                    width: 200px;
                    margin-bottom: -25px;
                    margin-right: -10px;
                }
            }
        }
        .service-text {
            h3 {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 5px;
            }
            p {
                font-size: 1.1rem;
                color: #515151;
                font-weight: 500;
            }
            a {
                background: #f4f4f4;
                height: 40px;
                width: 140px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                margin-top: 15px;
                span {
                    font-size: 0.75rem;
                    color: #636363;
                    margin-right: 2px;
                    margin-left: 9px;
                    font-weight: 600;
                }
                svg {
                    fill: #636363;
                    width: 18px;
                    margin-top: 1px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.team {
    padding: 100px 0;
    position: relative;
    background: #FFF;
    .section-header-center {
        margin-bottom: 75px;
        .pretitle {
            font-size: 0.85rem;
            font-weight: 600;
            color: #00c5da !important;
            text-align: right;
            background: unset;
        }
        .heading {
            color: #162151;
        }
        p {
            font-size: 0.9rem;
            color: #000933;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .carousel {
        overflow-x: clip;
          .swiper{
            padding: 0 0;
            overflow: visible;
            .swiper-slide{
              width: 325px;
              @media (max-width: $max-5) {
                padding: 0;
                width: 150px;
                margin: 0px 10px 0 10px !important;
              }
              img {
                height: 375px;
                position: relative;
                @media (max-width: $max-5) {
                    height: 200px;
                }
              }
            }
          }
          
          .single{
           
            border-radius: 12px;
            padding: 0;
            position: relative;
            pointer-events: none;
            user-select: none;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            img{
              width: 100%;
              height: auto;
              vertical-align: top;
              border-radius: 12px;
              pointer-events: none;
              position: relative;
             }
             .single-content {
                position: absolute;
                bottom: 10px;
                left: 50%;
                width: 95%;
                transform: translate(-50%, 0);
                border-radius: 8px;
                padding: 15px 15px;
                overflow: hidden;
                background-color: rgba(255, 255, 255, 0.1);
                -webkit-backdrop-filter: blur(7px);
                backdrop-filter: blur(7px);
                z-index: 15;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: $max-5) {
                    padding: 10px 10px;
                }
                .single-content-text {
                    text-align: center;
                }
                h3 {
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-bottom: 0;
                    color: #FFF;
                    @media (max-width: $max-5) {
                        font-size: 0.7rem;
                    }
                }
                span {
                    color: $g;
                    font-weight: 600;
                    font-size: 0.9rem;
                    color: #ccc  ;
                    text-align: center;
                    margin: auto;
                    @media (max-width: $max-5) {
                        font-size: 0.6rem;
                    }
                }
                .single-content-icon {
                    background: #FFF;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: $max-5) {
                        height: 30px;
                        width: 30px;
                        display: none;
                    }
                }
                svg {
                    height: 22px;
                    width: 22px;
                    fill: #000;
                    @media (max-width: $max-5) {
                        height: 16px;
                        width: 16px;
                    }
                }
             }
             &:after {
                content: "";
                background: #003cb324;
                height: 100%;
                width: 100%;
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                z-index: 5;
                border-radius: 12px;
            }
          }
    }
}

.nums {
    margin-top: 50px;
    position: relative;
    z-index: 5;
    .nums-container {
        padding: 50px 75px;
        background-color: #000;
        background-image: url(assets/images/h1-hero-bg.png);
        border-radius: 12px;
        @media (max-width: $max-7) {
            padding: 40px 40px;
        }
    }
    .section-header-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $max-7) {
            display: block;
        }
        .section-header-heading {
            flex: 1;
        }
        .pretitle {
            font-size: 0.85rem;
            color: #00c5da;
        }
        .heading {
            font-size: 1.5rem;
            color: #FFF;
        }
        .text {
            font-size: 0.85rem;
            margin-top: 15px;
            color: #FFF;
            margin-right: 50px;
            flex: 1;
            @media (max-width: $max-7) {
                margin-right: 0;
            }
        }
    }
    .nums-row {
        margin-top: 25px;
        .num-card {
            border: 1px solid #313131;
            padding: 30px 35px 30px 35px;
            @media (max-width: $max-7) {
                border: unset;
            }
            h3 {
                font: {
                    family: "num";
                    size: 2.5rem;
                    weight: 100;
                }
                color: #FFF;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    right: -35px;
                    height: 50px;
                    width: 1px;
                    background-color: #FFF;
                    display: inline-block;
                }
            }
            p {
                margin: 0;
                color: #5D6371;
                font-size: 0.85rem;
            }
        }
    }
}

.testimonials {
    margin-top: -150px;
    padding: 225px 0 100px 0;
    background: {
        image: url(assets/images/bg.svg);
        size: cover;
        position: center center;
        repeat: no-repeat;
    }
    .section-header-center {
        .pretitle {
            font-size: 0.85rem;
            font-weight: 600;
            color: #00c5da !important;
            text-align: right;
            background: unset;
        }
        .heading {
            color: #162151;
        }
        p {
            font-size: 0.9rem;
            color: #000933;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .testimonials-container {
        .tes-card {
            background: #FFF;
            border-radius: 12px;
            padding: 30px 40px;
            @media (max-width: $max-9) {
                margin: 12px 0;
            }
            .rating {
                .rating-info {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 10px;
                        font-size: 1.75rem;
                        font-weight: 600;
                    }
                    svg {
                        height: 22px;
                        width: 22px;
                        fill: #ffd43b;
                    }
                }
                p {
                    color: #797979;
                    font-size: 0.85rem;
                }
            }
            .rating-text {
                p {
                    color: #000933;
                    font-size: 1.1rem;
                }
            }
            .quote {
                margin-top: 25px;
                svg {
                    height: 50px;
                    width: 50px;
                }
            }
        }

    }
}

.fq {
    padding: 100px 0;
    .advan-line {
        position: relative;
        figure {
            background: {
                size: cover;
                position: center center;
                repeat: no-repeat;
            }
            height: 650px;
            width: 87%;
            border-radius: 12px;
            margin-right: auto;
            @media (max-width: $max-9) {
                display: none;
             }
        }
        .line-boxs {
            position: absolute;
            bottom: 25px;
            right: 15px;
            display: flex;
            align-items: center;
            @media (max-width: $max-9) {
                display: none;
             }
            .line-box {
                background: #171717;
                padding: 25px 35px;
                font-size: 2rem;
                font-weight: 600;
                color: #FFF;
                width: 240px;
                border-radius: 12px;
                margin-left: 15px;
                span {
                    font-size: 1rem;
                    color: #FFF;
                    margin-bottom: -1px;
                    display: block;
                }
                h3 {
                    font-size: 3.5rem;
                    font-weight: 700;
                    margin-bottom: 10px;
                    color: #000;
                }
                p {
                    font-size: 1rem;
                    margin-bottom: 0;
                }
            }
            .line-box-light {
                background: #FAF9F7 !important;
                span {
                    color: $mainColor;
                }
                h3 {
                    color: $mainColor;
                }
                p {
                    color: $mainColor;
                }
            }
        }
    }
    .advan-line-info {
        padding-right: 0;
        @media (max-width: $max-5) {
            padding-right: 0;
        }
        span {
            color: #00c5da;
            font-size: 0.85rem;
            font-weight: 600;
            @media (max-width: $max-9) {
                display: block;
                text-align: center;
            }
        }
        h3 {
            font-size: 3rem;
            margin-bottom: 25px;
            font-weight: 500;
            color: #162151;
            @media (max-width: $max-9) {
                font-size: 2rem;
                margin-bottom: 10px;
                text-align: center;
            }
        }
        p {
            font-size: 1.1rem;
            margin-bottom: 25px;
            font-weight: 500;
            color: #000933;

        }
    }
    .fq-indent {
        .faq-container {
            background-color: #fff;
            border-radius: 10px;
          }
          
          .faq-item {
            padding: 20px;
            border-bottom: 1px solid #e0e0e0;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:last-child {
                border: unset;
            }
          }
          
          .faq-item:last-child {
            border-bottom: none;
          }
          
          .faq-question {
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 3px;
            padding-top: 3px;
          }
          
          .faq-answer {
            font-size: 16px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            text-align: right;
            padding-left: 10px;
            padding-right: 10px;
            p {
                padding: 25px 15px;
                margin: 0;
            }
          }
          
          .faq-answer.active {
            border-bottom: 1px solid #e0e0e0;
            &:last-child {
                border: unset;
            }
          }
          
          .icon-container i {
            font-size: 16px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
          }
          
          .icon-container i.active {
            transform: rotate(90deg);
          }
    }
    a {
        background-image: radial-gradient(at bottom center, #344CB7 0%, #344CB7 60%);
        padding: 5px 25px;
        color: #FFF;
        font-size: 1rem;
        font-weight: 500;
        height: 50px;
        width: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 15px;
        margin-top: 50px;
    }
}

// /////////////////////////////////////////////////////////


// For Custom Swiper 
@keyframes scroll {
0%{
    transform: translateX(0);
}
100%{
    transform: translateX(-100%);
}
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

[lang="en"] {
    body {
        direction: ltr;
        text-align: right;
    }
    .section-header-center {
        h3 {
            padding-left: unset;
            padding-right: 10px;
        }
    }
    .why {
        text-align: left;
        .why-info {
            .why-part {
                .why-text {
                    .pretitle {
                        text-align: left;
                    }
                    a {
                        margin-right: unset;
                        margin-left: 0;
                    }
                    .call-us-btn {
                        margin-right: unset;
                        margin-left: 25px;
                        svg {
                            margin-right: unset;
                            margin-left: 15px;
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .why-vision {
            .why-vision-part {
                border-left: unset;
                border-right: 1px dashed #CACACA;
                text-align: left;
                h5 {
                    &:after {
                        right: unset;
                        left: -17px;
                    }
                }
            }
            .unborded {
                border: unset;
            }
            .cus-padd {
                padding: 30px;
            }
        }
    }
    .services {
        .section-header-center {
            .pretitle {
                text-align: left;
            }
        }
        .service-card {
            .icon {
                .icon-container {
                    lord-icon {
                        margin-right: unset;
                        margin-left: -10px;
                    }
                }
            }
            .service-text {
                a {
                    span {
                        margin-left: 2px;
                        margin-right: 9px;
                    }
                    svg {
                        transform: rotate(270deg);
                        margin-top: 2px;
                    }
                }
            }
        }
        .service-card-big {
            background: #FFF;
            padding: 20px 20px 20px 340px;
            border-radius: 12px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            .icon {
                margin-bottom: 20px;
                .icon-container {
                    svg {
                        width: 36px;
                        fill: $secondColor;
                    }
                    lord-icon {
                        margin-right: -10px;
                    }
                }
            }
            .service-text {
                h3 {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 1.1rem;
                    color: #515151;
                    font-weight: 500;
                }
                a {
                    background: #f4f4f4;
                    height: 40px;
                    width: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    margin-top: 15px;
                    span {
                        font-size: 0.75rem;
                        color: #636363;
                        margin-right: 2px;
                        margin-left: 9px;
                        font-weight: 600;
                    }
                    svg {
                        fill: #636363;
                        width: 18px;
                        margin-top: 1px;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    .nums {
        .section-header-side {
            text-align: left;
            .text {
                margin-right: unset;
                margin-left: 50px;
                @media (max-width: $max-7) {
                    margin-right: unset;
                    margin-left: 0;
                }
            }
        }
        .nums-row {
            .num-card {
                text-align: left;
                h3 {
                    &:before {
                        right: unset;
                        left: -35px;
                    }
                }
            }
        }
    }
    .testimonials {
        .section-header-center {
            .pretitle {
                text-align: left;
            }
        }
        .testimonials-container {
            .tes-card {
                text-align: left;
                .rating {
                    .rating-info {
                        span {
                            margin-left: unset;
                            margin-right: 10px;
                        }
                    }
                }
            }
    
        }
    }
    .fq {
        .advan-line {
            text-align: left;
            figure {
                margin-right: unset;
                margin-left: auto;
            }
            .line-boxs {
                right: unset;
                left: 15px;
                .line-box {
                    margin-left: unset;
                    margin-right: 15px;
                }
            }
        }
        .advan-line-info {
            padding-right: unset;
            padding-left: 0;
            @media (max-width: $max-5) {
                padding-right: unset;
                padding-left: 0;
            }
        }
        .fq-indent {        
              .faq-answer {
                text-align: left;
                padding-left: 10px;
                padding-right: 10px;
              }
            
        }
        a {
            margin-right: unset;
            margin-left: 15px;
        }
    }
}