.mail-otp-container {
    width: 600px;
    margin: auto;
    header {
        padding: 0 40px !important;
        height: 70vh !important;
        border-radius: 12px;
        margin-top: 50px;
        .index-header {
            height: calc(70vh - 140px) !important;
            border-radius: 12px;
            .index-header-content {
                .index-header-content-text {
                    h3 {
                        font-size: 24px !important;
                        font-weight: 600;
                        width: 90%;
                    }
                    p {
                        width: 95%;
                        font-size: 0.9rem;
                    }
                    .index-header-actions {
                        .signup {
                            padding: 7px 25px;
                            border-radius: 12px;
                            font-size: 2rem;
                            font-weight: 600;
                            letter-spacing: 3px;
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }
}