.col-xl-4,
.col-lg-4,
.col-md-6,
.col-12 {
    padding: 0 8px;
}
.exam-card {
    margin: 8px auto;
    position: relative;
    max-width: 365px;
    min-height: 169px;
    .card-description {
        padding: 25px 30px 15px 25px;
        background: #FFF;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border: 1px solid #e1e1e17a;
        .exam-name {
            font-size: 0.8rem;
            margin: 0 0 6px 0;
            color: #3e3f5e;
            font-weight: 700;
            text-align: right;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .date {
            color: #8f90b5;
            text-align: right;
            font-size: 0.7rem;
            font-weight: 700;
            display: block;
            margin: 1px 0 5px 0;
            font-family: "cairo";
        }
        .down-info {
            color: #3e3f5e;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .exam-score-parent {
                background: #eeeffd;
                height: 4px;
                width: 100%;
                position: relative;
                border-radius: 20px;
                .exam-score {
                    background: #436cff;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background: linear-gradient(-118deg, #0046ed, #00c5da) !important;
                }
            }
            .score {
                font-family: "cairo";
                p {
                    margin: 0 10px 0 0;
                    font-size: 0.8rem;
                    font-weight: 700;
                    .exp-title {
                        margin-left: 4px;
                        font-size: 0.7rem;
                        color: #436cff;
                    }
                }
            }
        }
    }
    .upper-info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        margin: 0 0 0 0;
        background: #f9f9f9;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border: 1px solid #e1e1e17a;
        border-top: 0;
        .cate {
            font-size: 0.7rem;
            color: #adafca;
            font-weight: 700;
            text-align: right;
            margin: 0;
        }
        .exam-info {
            color: #8f90b5;
            display: flex;
            p {
                font-size: 0.65rem;
                font-weight: 700;
                margin: 0 5px 0 0;
                padding: 2px 15px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                svg {
                    margin-left: 3px;
                    height: 15px;
                    width: 15px;
                    fill: #312556;
                }
                span {
                    color: #3e3f5e;
                    font-size: 0.7rem;
                    margin-left: 3px;
                }
            }
        }
    }
    a.enter {
        text-decoration: none;
        width: 60px;
        height: 45px;
        margin: auto;
        color: #FFF;
        background-color: #8f90b5;
        box-shadow: 4px 7px 12px 0 rgba(97,93,250,.2);
        display: inline-block;
        border-radius: 10px;
        font-size: .875rem;
        font-weight: 700;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        margin-top: 30px;
        transition: background-color .2s ease-in-out,color .2s ease-in-out,border-color .2s ease-in-out,box-shadow .2s ease-in-out;
        box-shadow: 3px 5px 10px 0 rgba(62,63,94,.2);
        svg {
            height: 18px;
            margin-left: 4px;
            path {
                fill: #FFF;
            }
        }
        &:hover {
            background: #5753e4;
        }
    }
}

[lang="en"] {
    .exam-card {
        .upper-info {
            .exam-info {
                p {
                    margin: 0 0 0 5px;
                    svg {
                        margin-left: unset;
                        margin-right: 3px;
                    }
                    span {
                        margin-left: unset;
                        margin-right: 3px;
                    }
                }
            }
        }
        .exam-name {
            text-align: left;
            padding-left: 2px;
        }
        .down-info {
            .exam-score-parent {
                .exam-score {
                    right: unset;
                    left: 0;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }
            .score {
                p {
                    margin: 0 0 0 10px;
                    .exp-title {
                        margin-left: 4px;
                    }
                }
            }
        }
        .date {
            text-align: left;
        }
        a.enter {
            svg {
                margin-left: unset;
                margin-right: 4px;
            }
        }
    }
    .exam-card-bank {
        .card-description {
            .upper-info {
                .exam-info {
                    .reset-btn {
                        background: #7868e6;
                        border-radius: 50px;
                        height: 20px;
                        width: 20px;
                        margin: 0 0 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 12px;
                            fill: #FFF;
                        }
                    }
                }
            }
            .down-info {
                color: #3e3f5e;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .exam-score-parent {
                    background: #f6f8ff;
                    height: 20px;
                    width: 100%;
                    position: relative;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    font-weight: 900;
                    font-size: 0.7rem;
                    .bank-exam-correct {
                        background: #2ae99e;
                        color: #FFF;
                        height: 100%;
                        position: relative;
                        z-index: 2;
                        border-top-left-radius: 12px;
                        border-bottom-left-radius: 12px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                    .bank-exam-not-answer {
                        background: #f6f8ff;
                        height: 100%;
                        position: relative;
                        z-index: 2;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        border-radius: 12px;
                    }
                    .bank-exam-worng {
                        background: #ee4266;
                        color: #FFF;
                        height: 100%;
                        position: relative;
                        z-index: 2;
                        border-top-right-radius: 12px;
                        border-bottom-right-radius: 12px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
.bank-round-12 {
    border-radius: 12px !important;
}